<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Conest - Produtos</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Produtos</h1>
        <form id="frmProduto" class="mt-2 row g-3">

            <!-- Buscar cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputProduto" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" id="btnRead">Buscar</button>
            </div>

            <hr class="mt-4 border border-primary border -1">

            <!-- Id do produto (oculto) -->
            <div class="col-md-6" id="idProduto">
                <input class="form-control" type="text" id="inputProduto" placeholder="id">
            </div>

            <!-- Nome -->
            <div class="col-md-8">
                <label for="inputProduto" class="form-label">Produto</label>
                <input class="form-control" type="text" id="inputProduto" spellcheck="false" required maxlength="50" placeholder="Produto">
            </div>

            <!-- bar code -->
            <div class="col-md-4">
                <label for="inputBarcode" class="form-label">Código de barras</label>
                <input class="form-control" type="tel" id="inputBarcode" spellcheck="false" required maxlength="15">
            </div>

            <!-- Preço -->
            <div class="col-md-8">
                <label for="inputPreco" class="form-label">Preço</label>
                <input class="form-control" type="monetario" id="inputPreco" spellcheck="false" maxlength="50">
            </div>

            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="submit" class="btn btn-danger" id="btnDelete">Excluir</button>
                <button type="reset" class="btn" id="btnReset"></button>
            </div>

        </form>
    </div>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="produtos.js"></script>
</body>

</html>