<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conest</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    
    <h1>Sobre</h1>
    <p>Este é um projeto de exemplo para a disciplina de Desenvolvimento de Software para desktop.</p>
    <div class="container">
    <h1>Conest</h1>
    <p>Sistema de Gestão de estoque</p>
    <p>Professor José de Assis</p>
    <button class="btn btn-secundary float-end" onclick="fechar()">OK</button>
    </div>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/css/style.js"></script>
    
</body>

</html>